/*                               *\                                    
    MEDIA QUERIES MOBILE 768px
\*                               */

body {
    margin: 0%;
    padding: 0%;
}

/* NAVIGATION */

nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    overflow: hidden;
}


.logo-Booki {
    height: 100px;
    width: 200px;
    margin-top: 2%;
}

nav ul {
    flex-direction: row;
    width: 100%;
    align-items: center;
}

 nav li {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: -1%;
}

nav li a:hover {
    border-bottom: 6px solid #0065FC;
    border-top: none;
}

.anchor-lodging {
    width: 100%;
    font-size: 35px;
    padding: 0% 0% 20px 16%;
    margin : 0%;
    border-bottom: 6px solid #F2F2F2;
}

.anchor-activity {
    width: 100%;
    font-size: 35px;
    padding: 0% 0% 20px 26%;
    margin: 0%;
    border-bottom: 6px solid #F2F2F2;
}


/* SEARCH ZONE */

.search-zone {
    margin: 0% 5% 2% 5%;
}

.search-title h1 {
    font-size: 50px;
}

.search-title p {
    font-size: 30px;
}

.search-zone form {
    margin-top: 80px;
    margin-left: 5%;
    font-size: 40px;
}

.search-map-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 125px;
    width: 15%;
    margin-top: 0.4%;
    margin-left: -5%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: #F2F2F2;
}

.map-button {
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: #F2F2F2;
}

#icon-map {
    color: black;
    position: absolute;
    font-size: 60px;
    margin-bottom: 20%;
    margin-left: -5%;
}

.Where {
    position: absolute;
    height: 125px;
    width: 65%;
    margin-left: 10%;
}

.search-button {
    display : none;
}

#search-button-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 125px;
    width: 15%;
    margin-top: 0.4%;
    margin-left: 70%;
    border-radius: 40px;
}

.button-mobile {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    background-color: #0065FC;
    border-color: #0065FC;
}

#icon-loupe {
    display: block;
    position: absolute;
    color: #FFF;
    font-size: 60px;
    z-index: 1;
}

/* FILTRES */

.filters {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 250px;
}

.filters h2 {
    font-size: 50px;
    font-weight: bold;
}

.mobile-dolars {
    position: relative;
    margin: -45px 0 0 -6%;
    padding: 3%;
}

#icon-dollars {
    height: 95px;
    width: 95px;
    border-radius: 150px;
    margin-left: 0%;
    font-size: 35px;
    margin-left: 6%;
}

#dollars-button {
    height: 90px;
    width: 280px;
    border-radius: 80px;
    font-size: 30px;
    margin-left: 25px;
}

.mobile-family {
    position: relative;
    margin: -140px 0% 0 45%;
    padding: 3%;
}

#icon-person {
    height: 95px;
    width: 95px;
    border-radius: 150px;
    margin-left: 0%;
    font-size: 35px;
    margin-left: 6%;
}

#family-button {
    height: 90px;
    width: 280px;
    border-radius: 80px;
    font-size: 30px;
    margin-left: 25px;
}

.mobile-heart {
    position: relative;
    margin: 0px 0 0 -6%;
    padding: 3%;
}

#icon-heart {
    height: 95px;
    width: 95px;
    border-radius: 150px;
    margin-left: 0%;
    font-size: 35px;
    margin-left: 6%;
}

#heart-button {
    height: 90px;
    width: 250px;
    border-radius: 80px;
    font-size: 30px;
    margin-left: 40px;
}

.mobile-animal {
    position: relative;
    margin: 0% 0 0 -6%;
    padding: 3%;
}

#icon-dog {
    height: 95px;
    width: 95px;
    border-radius: 90px;
    margin-left: 0%;
    font-size: 35px;
    margin-left: 6%;
}

#animals-button {
    height: 90px;
    width: 380px;
    border-radius: 80px;
    font-size: 30px;
    margin-left: 48px;
}

#infos-head {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 10px;
    margin-left: 5%;
    font-size: 22px;
}

#icon-info {
    height: 30px;
    width: 40px;
    border-radius: 90px;
    margin-top: 30px;
}

/* POPULAR */

#popular {
    position: relative;
    height: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    background-color: #F2F2F2;
    margin-bottom: 1000px;
    margin-left: 0%;
}

#popular a {
    width: 100%;
    height: 350px;
    margin: 0px;
    padding: 2% 0 2% 0%;
    background-color: #F2F2F2;
    
}

.popular-title {
    width: 80%;
    font-size: 25px;
    font-weight: bolder;
}

.card-popular {
    background-color: #f2f2f2;
    height: 500px;
    width: 100%;
}

.card-2 {
    width: 90%;
    border-radius: 50px;
    margin-left: 5%;
    margin-top: -10px;
}

.card-2-img-container {
    margin: 1% 0% 0% 1%;
}

.card-2-image {
    border-radius: 50px;
}

.card-2-infos {
    margin-top: 20px;
    font-size: 25px;
    margin-left: 2%;
}

.card-2-notation{
    margin-top: 130px;
}

/* LODGING */

#mobil-column {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 0 0 0%;
}

.lodging-title {
    position: absolute;
    margin-top: -518px;
    margin-right: 20%;
    font-size: 40px;
    font-weight: bolder;
}

#lodging {
    height: 600px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFF;
    border-radius: 15px;
    margin-right: 3%;
    margin-bottom: -1900px;
}

.card-lodging{
    height: 1500px;
    width: 100%;
    background-color: #FFF;
    border-radius: 15px;
}

.card-lodging-up {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-lodging-down {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 900px;
}

.card-1-info {
    font-size: 28px;
    line-height: 0%;
    margin: 0% 0% 0% 2%;
}

.see-more{
    position: absolute;
    font-size: 30px;
    margin-top: 2600px;
    margin-left: 3%;
}

/* ACTIVITY */

#activity {
    height: 800px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 3950px;
    margin-left: 3%;
}

.activity-title {
    font-size: 35px;
}

.card-activity {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-3-rigth {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.card-3-left {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    margin: 640px 0% 0% 0%;
}

.card-high {
    height: 400px ;
    width: 100% ;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
    border-radius: 50px;
    margin: 1% 1% 3% 1%;
}

.card-img-high-container {
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.card-3-img {
    height: 105% ; 
    width: 100% ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}

.card-high h3{
    position: absolute;
    margin-left: 5%;
    font-size: 35px;
    margin-top: -1%;
}

.card-wide {
    height: 400px ;
    width: 200% ;
    margin: 0px auto;
    background-color: #fff;
    box-shadow: 0px 5px 20px #999;
    border-radius: 50px;
    margin: 1.5% 1% 6% 2% ;
}

.card-img-wide-container {
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.card-4-img {
    height: 105% ; 
    width: 100% ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}

.card-4-img img{
    width: 110%;
}

.card-wide h3 {
    position: absolute;
    margin-left: 5%;
    font-size: 35px;
    margin-top: -1%;
}

/* FOOTER */

#footer-page {
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 1950px 0% 0% 0%;
    overflow: hidden;
}

footer h3 {
    font-weight: bold;
}

.foot-info-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 30px;
    margin-top: 3%;
    margin-left: 5%;
    padding-bottom: 3%;
    padding-right: 5%;
}
.foot-info-1 ul {
    list-style: none;
    padding-left: 0px;
    line-height: 200%;
    margin-top: -3%;
}

.foot-info-2 {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-top: 0.5%;
    margin-left: 5%;
    padding-bottom: 3%;
    padding-right: 0%;
}

.foot-info-2 ul {
    list-style: none;
    padding-left: 0px;
    line-height: 200%;
    margin-top: -3%;
}

.foot-info-3 {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-top: 0.5%;
    margin-left: 5%;
    padding-bottom: 3%;
    padding-right: 0%;
}

.foot-info-3 ul {
    list-style: none;
    padding-left: 0px;
    line-height: 200%;
    margin-top: -3%;
}

@media screen and (max-width: 425px) {
    
    /* NAVIGATION */
    nav {
        width: 100%;
        overflow:visible;
    }

    .logo-Booki {
        margin-left: 40%;
    }

    .anchor-lodging {
        margin-left: -4%;
        padding: 18px 20% 18px 20%;
        font-size: 25px;
    }
    
    .anchor-activity {
        margin-left: 18%;
        padding: 18px 41% 18px 41%;
        font-size: 25px;
    }

    /* SEARCH ZONE */

    .search-map-button {
        height: 90px;
        width: 20%;
    }

    .search-title h1 {
        font-size: 29px;
        width: 100%;
        margin-left: 5%;
    }
    
    .search-title p {
        font-size: 19px;
        margin-left: 5%;
    }

    .search-bar{
        margin-left: 5%;
    }

    .map-button {
        position: absolute;
        height: 100px;
        width: 100px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    #icon-map {
        font-size: 50px;
        margin-bottom: 23%;
        margin-left: -8%;
    }

    .Where {
        font-size: 30px;
        height: 100px;
        width: 300px;
        margin-left: 13%;
        margin-top: -6px;
    }

    #search-button-mobile {
        height: 101px;
        width: 100px;
        margin-left: 80%;
        margin-top: -3px;
    }

    .button-mobile {
        border-radius: 35px;
    }
    
    #icon-loupe {
        font-size: 50px;
    }
    
    /* Filtres */

    .filters {
        margin-top: 180px;
    }

    .filters h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .mobile-dolars {
        margin: -20px 0 0 -6%;
        padding: 3%;
    }

    #icon-dollars {
        height: 75px;
        width: 75px;
        border-radius: 150px;
        margin-left: 0%;
        font-size: 35px;
        margin-left: 6%;
    }

    #dollars-button {
        height: 70px;
        width: 180px;
        border-radius: 80px;
        font-size: 15px;
        margin-left: 25px;
    }

    .mobile-family {
        margin: -99px 0% 0 60%;
        padding: 3%;
    }
    
    #icon-person {
        height: 75px;
        width: 75px;
        border-radius: 150px;
        margin-left: 0%;
        font-size: 35px;
        margin-left: 6%;
    }
    
    #family-button {
        height: 70px;
        width: 180px;
        border-radius: 80px;
        font-size: 15px;
        margin-left: 25px;
    }

    .mobile-heart {
        margin: 0px 0 0 -6%;
        padding: 3%;
    }
    
    #icon-heart {
        height: 75px;
        width: 75px;
        border-radius: 150px;
        margin-left: 0%;
        font-size: 35px;
        margin-left: 6%;
    }
    
    #heart-button {
        height: 70px;
        width: 180px;
        border-radius: 80px;
        font-size: 15px;
        margin-left: 25px;
    }

    .mobile-animal {
        margin: 0% 0 0 -6%;
        padding: 3%;
    }
    
    #icon-dog {
        height: 75px;
        width: 75px;
        border-radius: 90px;
        margin-left: 0%;
        font-size: 35px;
        margin-left: 6%;
    }
    
    #animals-button {
        height: 70px;
        width: 250px;
        border-radius: 80px;
        font-size: 15px;
        margin-left: 20px;
    }
    
    #infos-head {
        font-size: 15px;
        width: 100%;
    }
    
    #icon-info {
        height: 20px;
        width: 20px;
        margin-top: 20px;
    }
    
    /*  POPULAR */
    
    #popular {
        width: 126%;
        margin-left: 26%;
        margin-bottom: 950px;
    }
    
    .popular-title {
        font-size: 25px;
    }
    
    #black-star {
        margin-left: 0%;
    }
    
    #popular a {
        width: 100%;
        height: 222px;
    }

    .card-2-infos {
        font-size: 20px;
    }

    .card-2-notation{
        margin-top: 50px;
    }

    /* LODGING */
    
    #lodging {
        width: 120%;
        margin : -352px -22% -1310px 0%;
    }

    .lodging-title {
        margin-top: -350px;
        font-size: 25px;
        margin-right: 0%;
        width: 100%;
    }

    .card-lodging{
        width: 90%;
    }

    .card-lodging-down {
        margin-top: 600px;
    }

    .card-1 {
        height: 65%;
    }

    .card-1-info {
        font-size: 25px;
    }

    .see-more{
        font-size: 20px;
        margin-top: 2120px;
    }

    /* ACTIVITY */

    #activity {
        width: 119%;
        margin-top: 2860px;
    }

    .activity-title {
        font-size: 25px;
        margin-left: 5%;
    }

    .card-3-left {
        margin-top: 590px;
    }
    
    .card-high h3{
        font-size: 25px;
    }

    .card-wide h3 {
        font-size: 20px;
    }

    /* FOOTER */

    #footer-page {
        width: 125.5%;
        margin-top: 1790px;
    }

    .foot-info-1 {
        font-size: 20px;
    }

    .foot-info-2 {
        font-size: 20px;
    }

    .foot-info-3 {
        font-size: 20px;
    }


}


@media screen and (max-width: 375px) {

    /* NAVIGATION */

    .anchor-lodging {
        margin-left: -7%;
        padding: 18px 18% 18px 18%;
        font-size: 25px;
    }

    .anchor-activity {
    margin-left: 22%;
    padding: 18px 35% 18px 35%;
    font-size: 25px;
    }

    /* SEARCH ZONE */

    .search-title h1 {
        font-size: 22px;
    }

    .search-title p {
        font-size: 18px;
    }

    .search-bar{
        margin-left: 7%;
        margin-top: -50px;
    }

    .map-button {
        height: 90px;
        width: 90px;
    }

    #icon-map {
        margin-left: -25%;
    }

    .Where {
        font-size: 20px;
        height: 90px;
        width: 270px;
        margin-top: -2px;
    }

    #search-button-mobile {
        height: 91px;
        width: 90px;
        margin-left: 80%;
        margin-top: 0px;
    }

    /* FILTRES */

    .filters h2 {
        font-size: 25px;
    }

    .mobile-dolars {
        margin: -20px 0 0 -9%;
    }

    #icon-dollars {
        height: 56px;
        width: 56px;
        font-size: 25px;
        margin-left: 10%;
    }

    #dollars-button {
        height: 50px;
        width: 160px;
        font-size: 15px;
    }

    .mobile-family {
        margin: -74px 0% 0 60%;
    }
    
    #icon-person {
        height: 56px;
        width: 56px;
        font-size: 25px;
        margin-left: 10%;
    }
    
    #family-button {
        height: 50px;
        width: 160px;
        font-size: 15px;
    }

    .mobile-heart {
        margin: 0px 0 0 -9%;
    }
    
    #icon-heart {
        height: 56px;
        width: 56px;
        font-size: 25px;
        margin-left: 10%;
    }
    
    #heart-button {
        height: 50px;
        width: 160px;
        font-size: 15px;
    }

    .mobile-animal {
        margin: 0% 0 0 -10%;
    }
    
    #icon-dog {
        height: 56px;
        width: 56px;
        font-size: 25px;
        margin-left: 10%;
    }
    
    #animals-button {
        height: 50px;
        width: 200px;
        font-size: 15px;
        margin-left: 35px;
    }

    #infos-head {
        font-size: 15px;
        width: 100%;
    }
    
    #icon-info {
        height: 25px;
        width: 35px;
        margin-top: 18px;
    }

    /*  POPULAR */
    
    #popular {
        width: 126%;
        margin-left: 26%;
        margin-bottom: 913px;
    }

    .popular-title {
        font-size: 20px;
    }

    .card-2-infos {
        font-size: 18px;
        margin-top: 0%;
    }

    /* LODGING */

    #lodging {
        width: 120%;
        margin : -352px -22% -1250px 0%;
    }

    .lodging-title {
        margin-top: -326px;
    }

    .card-lodging-down {
        margin-top: 580px;
    }

    .see-more{
        font-size: 19px;
        margin-top: 2095px;
    }

    /* ACTIVITY */

    #activity {
        width: 119%;
        margin-top: 2765px;
    }

    .card-3-left {
        margin-top: 535px;
    }

    #footer-page {
        width: 125.5%;
        margin-top: 1635px;
    }
}